@import 'config';

#about {
    background: $primary-color;
    color: $text-color;
    
}

.about-container {

    & .paragraph-about {
        font-weight: map-get($font-weights, normal);
        display: flex;
        /*flex-direction: column;
        justify-content: center;*/
        flex-basis: 50%;
        margin-top: 50px;
        font-size: 20px;
    
        &:hover {
            color: antiquewhite;
        }
    
    }

    & .name-about {
        font-weight: map-get($font-weights, black);
        font-size: 50px;

        &:hover {
            color: antiquewhite;
        }
    };
}


.social-icons {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    font-size: 3rem;

    &:hover {
        color: antiquewhite;
    }
}
