@import 'config';

#about {
    background: $primary-color;
    color: $text-color;    
};

.about-container {

    & .paragraph-about {
        @include font-size(10);
        font-weight: map-get($font-weights, normal);
        display: flex;
        flex-basis: 50%;
        margin-top: 50px;

        &:hover {
            color: $text-light-color;
        }
    
    };

    & .name-about {
        @include font-size(30);
        font-weight: map-get($font-weights, black);
        

        &:hover {
            color: $text-light-color;
        }
    };
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
 }

.contact-detail {
    @include font-size(20);
    padding: 0 1rem;

    &:hover {
        color: $text-light-color;
    }
}
