$primary-color: #6867AC;
$text-color: rgb(14, 13, 13);
$font-weights: (
"normal": 400,
"medium": 500,
"bold": 700,
"black": 900
);

#about {
    background: $primary-color;
    color: $text-color;
    
};

.about-container {

    & .paragraph-about {
        font-weight: map-get($font-weights, normal);
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        &:hover {
            color: antiquewhite;
        }
    
    };

    & .name-about {
        font-weight: map-get($font-weights, black);
        font-size: 50px;

        &:hover {
            color: antiquewhite;
        }
    };
}


.social-icons {
    justify-content: center;
    flex-basis: 20%;
    font-size: 3rem;
    text-align: center;
}
