* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//fonts//
$font-family: 'Montserrat', sans-serif;
$font-family: 'Sen', sans-serif;

//colours//
$primary-color: #6867AC;
$secondary-color: #A267AC;
$thirdly-color: #CE7BB0;
$fourthly-color:#FFBCD1;

//weights//
$font-weights: (
"normal": 400,
"medium": 500,
"bold": 700,
"black": 900,
);

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
};

//text-colours//
$text-color: rgb(14, 13, 13);
$text-light-color: antiquewhite;

//font-sizes//
@mixin font-size($size){
    font-size: ($size/10) * 1rem;
};



