@import 'config';

#contact {
    background: $fourthly-color;
    color: $text-color;
    position: relative;
};

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 5rem;

  & .map-data, .form-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  };

};

iframe {
  width:700px;
  height:400px;
  border-radius:25px;
  border:5px groove $text-light-color;
};

p {
  @include font-size(12);
  font-weight: weight(normal);
  margin-bottom: 2rem;

  &:hover {
    color: $text-light-color;
  }  
};

.info-contact-form {
  
}