@import 'config';

/*{
  border: 1px solid red;
}*/

#contact {
    background: $fourthly-color;
    color: $text-color;
    position: relative;
};

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 5rem;

  & .map-data, .form-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  };

};

iframe {
  width:700px;
  height:600px;
  border-radius:25px;
  border:5px groove $text-light-color;
};

p {
  @include font-size(12);
  font-weight: weight(normal);
  margin-bottom: 2rem;

  &:hover {
    color: $text-light-color;
  }  
};

.info-contact-form {
  input, textarea{
    display: block;
    width: 99%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border:0;
    border: 1px solid #ecd3ad;
    @include radius(5px);
    @include font-size(12);
  }
};

textarea {
  height: 20vh;
  resize: none;
}

label {
  display: block;
  text-align: center;
  @include font-size(12);
  margin: 0 0 2vh 0;
};

button {
  background-color: $color-box;
  width: 50%;
  min-height: 3%;
  /*background-clip: padding-box;*/
  border: 1px solid #ecd3ad;
  @include radius(5px);
	margin-top: 1rem;
  padding: 1em;
  color: #252524;
  cursor: pointer;
  @include font-size(9);
};

