$primary-color: #6867AC;
$secondary-color: #A267AC;
$thirdly-color: #CE7BB0;
$fourthly-color:#FFBCD1;

$font-weights: (
"normal": 400,
"medium": 500,
"bold": 700,
"black": 900
);

$text-color: rgb(14, 13, 13);