@import 'config';

#navbar {
    background: $fourthly-color;
    color: $text-color;
};

.my-name-navbar {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 10vh;
    padding: 1.5rem;

    & a {
        text-transform: uppercase;
        margin: 20px;
    }
};
