@import 'config';

#projects {
    background: $thirdly-color;
    color: $text-color;    
};

.projects-container {
    margin-top: 4rem;
    margin-bottom: 5rem;

    &.project-info {
        
    }
};

