@import 'about';
@import 'config';

main {
  font-family: $font-family;

  &.portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &.profile {
    padding: 45px;
    width: 50%;
    height: auto;
    display: block;
  }

}