@import 'about';
@import 'config';

main {
  &.portfolio {
    /*box-sizing: border-box;*/
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &.profile {
    width: 50%;
    height: auto;
    display: block;
    padding: 45px;
    display: flex;
    /*flex-direction: column;
    align-items: center;
    justify-content: center;*/

  }

}