@import 'about';
@import 'config';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'navbar';

main {
  font-family: $font-family;

  &.portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  & h1 {
    @include font-size(20);
    margin-top: 1rem;
  }

  & h4{
    @include font-size(12);
    margin-top: 0.5em;
  }

  & h3 {
    @include font-size(15);
    margin-top: 0.5rem;
  }

  & li {
    list-style: none;
  }
  
  & p {
    margin-top: 2rem;
  }

  & a {
    text-decoration: none;
    color: $text-color;
  }

  
};